body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #B91C1C;
    color: #ffeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
}

header h1 {
    margin: 10px;
}

.logo {
    width: 75px;
    height: 75px;
    padding-right: 5px ;

}

.logo:hover{
    animation: vibracion 0.3s ease-in-out;
    animation-iteration-count: 3;
}

.image {
    height: 100px;
    width: 100px;
    object-fit: cover; 
    transition: filter 0.6s ease;
}

.image:hover {
    filter: grayscale(100%);
}

.tabla {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 40px auto;
    margin-bottom: 0%;
    margin-top: 1.75%;
    border: 3px solid #000000;
    overflow: hidden;
    table-layout: fixed;
}

.fila {
    display: flex;
    flex-direction: row;
}

.fila.header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.celda {
    flex: 1;
    padding: 15px;
    border-bottom: 1.5px solid #000000;
    border-right: 1.5px solid #000000;
    text-align: center; /* Centra el texto horizontalmente */
    vertical-align: middle; /* Asegúrate de que el texto esté centrado verticalmente */
    min-width: 10px;
    overflow-wrap: break-word;
    display: flex; /* Usa flexbox para centrar el texto verticalmente */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
}


.celda.ancha{
    flex: 2;
}

.celda.estrecha{
    flex: 0.5;
}

.fila:last-child {
    border-bottom: none;
}

.celda:last-child {
    border-right: none;
}

.correo {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.correo:hover {
    color: #551A8B;
}

@keyframes vibracion {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-3px);
    }
    40%, 80% {
        transform: translateX(3px);
    }
}
