body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #B91C1C;
    color: #ffeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
}

header h1 {
    margin: 10px;
}

.logo {
    width: 80px;
    height: 80px;

}

.image {
    width: 70px;
    height: 70px;
    transition: filter 0.6s ease;
}

.image:hover {
    filter: grayscale(100%);
}

.tabla {
    display: flex;
    flex-direction: column;
    border: 3px solid #000000;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
}

.fila {
    display: flex;
    border-bottom: 1.5px solid #000000;
    align-items: center;
}

.fila.header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.celda {
    flex: 1;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.fila:last-child {
    border-bottom: none;
}

.celda {
    border-right: 1.5px solid #000000;
}

.celda:last-child {
    border-right: none;
}

.celda.correo {
    flex: 2; /* Aumenta el espacio disponible para la celda de correo */
    min-width: 200px; /* Establece un ancho mínimo para evitar que el contenido desborde */
}

.correo {
    font-family: Arial, sans-serif; /* Estilo de fuente opcional */
    font-size: 16px; /* Tamaño de fuente opcional */
    color: #0000EE; /* Color azul típico de enlaces */
    text-decoration: underline; /* Subrayado */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el texto */
    display: block; /* Asegura que el enlace ocupe todo el espacio disponible */
    overflow-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
    word-break: break-all; /* Rompe las palabras largas para evitar el desbordamiento */
}

.correo:hover {
    color: #551A8B; /* Color más oscuro para el efecto hover */
}
