body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #B91C1C;
    color: #ffeeee;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Cambiado para centrar verticalmente */
    padding: 10px;
    height: 100px; /* Altura fija para el header */
    box-sizing: border-box; /* Asegura que el padding no afecte la altura total */
}

header h1 {
    margin: 10px; /* Elimina márgenes por defecto del h1 */
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según sea necesario */
}

.logo {
    margin: 0; /* Elimina márgenes innecesarios */
}

.logo-img {
    width: 80px;
    height: 80px;
}

