
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #B91C1C;
    color: #ffeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #B91C1C;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.logo {
    text-align: right;
    margin: 10px;
}

.logo-img {
    width: 80px;
    height: 80px;
}